# 日本服务器
SERVER_JP_HOST=your_jp_host
SERVER_JP_PORT=22
SERVER_JP_USER=root
SERVER_JP_PASSWORD=your_jp_password

# 日本旧IP服务器
SERVER_JP_OLD_HOST=your_jp_old_host
SERVER_JP_OLD_PORT=22
SERVER_JP_OLD_USER=root
SERVER_JP_OLD_PASSWORD=your_jp_old_password

# 新加坡服务器
SERVER_SG_HOST=your_sg_host
SERVER_SG_PORT=22
SERVER_SG_USER=root
SERVER_SG_PASSWORD=your_sg_password

# 其他服务器
SERVER_OTHER_HOST=your_other_host
SERVER_OTHER_PORT=22
SERVER_OTHER_USER=root
SERVER_OTHER_PASSWORD=your_other_password
